# TeamsFx files
env/.env.*.user
env/.env.local
env/.env.dev
env/.env.playground

.env
appPackage/build

# python virtual environment
.venv/
__pycache__/

# Monocle trace files
.monocle/

# macOS
.DS_Store

# others
.deployment/
node_modules/
devTools/*.log

# Dev tool directories
/devTools/